
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }

  .container {
    padding: 20px;
    background-color: #fff;
    border-color: #fff;
    align-items: center;
    text-align: center;
    border-radius: 4px;
  }

.login-button,
.signup-button {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
  color: rgb(64, 68, 70);
  font-size: large;
  cursor: pointer;
}
.login-button:hover,
.signup-button:hover{
  color: #7CB9E8;
  font-weight: 'bolder';
  /* background-color: rgb(237, 241, 243); */
} 

.filled-button {
  display: inline;
  text-decoration: none;
  padding: 10px 20px;
  background-color: transparent;
  color: #7CB9E8; /* Default text color */
  border: 1px solid #7CB9E8;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.filled-button:hover {
  background-color: #7CB9E8;
  color: white; /* Text color on hover */
}